<ion-content class="ion-padding" [fullscreen]="true">
  <div id="container">
    <input />
    <button (click)="connect()">Button</button>
    <button style="margin-top: 20px" (click)="connectToDevice()">Test connect 1</button>
    <button style="margin-top: 20px" (click)="connectToDevice2()">Test connect 2</button>
    <button style="margin-top: 20px" (click)="connectToDevice3()">Test connect 3</button>
    <button style="margin-top: 20px" (click)="connectToDevice4()">Test connect 4</button>
    <button style="margin-top: 20px" (click)="notification()">start notify 1</button>
    <button style="margin-top: 20px" (click)="notification2()">start notify 2</button>
    <button style="margin-top: 20px" (click)="getServices()">services</button>
  </div>
  <div>
    {{status}}
  </div>
</ion-content>
